:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.mb_dangNhap_main-container {
  overflow: hidden;
}

.mb_dangNhap_main-container,
.mb_dangNhap_main-container * {
  box-sizing: border-box;
}

.mb_dangNhap_input,
.mb_dangNhap_select,
.mb_dangNhap_textarea,
.mb_dangNhap_button {
  outline: 0;
}

.mb_dangNhap_main-container {
  position: relative;
  width: 914px;
  height: 1987px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}

.mb_dangNhap_rectangle {
  position: relative;
  width: 1440px;
  height: 91px;
  margin: -2px 0 0 0;
  background: #010000;
  overflow: visible auto;
}

.mb_dangNhap_image {
  position: relative;
  width: 168px;
  height: 79px;
  margin: 12px 0 0 373px;
  background: url(../assets/images/131b9752d7a1eaaa7bb93198f63383b6b36aa5f9.png) no-repeat center;
  background-size: cover;
  z-index: 1;
}

.mb_dangNhap_flex-row-ded {
  position: relative;
  width: 1413px;
  height: 50px;
  margin: 3px 0 0 11px;
  z-index: 23;
}

.mb_dangNhap_image-1 {
  position: absolute;
  width: 50px;
  height: 47px;
  top: 0;
  left: 59px;
  background: url(../assets/images/71148d2bbf66b64d5e0ad1bfc1b2523af6f90ce6.png) no-repeat center;
  background-size: cover;
  z-index: 15;
}

.mb_dangNhap_frame {
  position: absolute;
  width: 51px;
  height: 49px;
  top: 1px;
  left: 0;
  z-index: 16;
  overflow: hidden;
}

.mb_dangNhap_vector {
  position: relative;
  width: 41.25px;
  height: 3px;
  margin: 10.75px 0 0 4.875px;
  background: url(../assets/images/22b204ef-3bc8-46a8-8713-7ea7cb6831f5.png) no-repeat center;
  background-size: 100% 100%;
  z-index: 18;
}

.mb_dangNhap_vector-2 {
  position: relative;
  width: 41.25px;
  height: 3px;
  margin: 9.25px 0 0 4.875px;
  background: url(../assets/images/61d6e1bf-50da-4d3b-8081-856d00f93787.png) no-repeat center;
  background-size: 100% 100%;
  z-index: 17;
}

.mb_dangNhap_vector-3 {
  position: relative;
  width: 41.25px;
  height: 3px;
  margin: 9.25px 0 0 4.875px;
  background: url(../assets/images/5395920c-fdd8-4519-80e9-8719432556e8.png) no-repeat center;
  background-size: 100% 100%;
  z-index: 19;
}

.mb_dangNhap_vector-4 {
  position: absolute;
  width: 1.68%;
  height: 43.02%;
  top: 18%;
  left: 60.59%;
  background: url(../assets/images/08d67ea8-e5ec-4f42-b954-dfe38ef78676.png) no-repeat center;
  background-size: 100% 100%;
  z-index: 22;
}

.mb_dangNhap_shopping-cart {
  position: absolute;
  width: 33px;
  height: 32px;
  top: 10px;
  left: 1174px;
  z-index: 2;
  overflow: hidden;
}

.mb_dangNhap_vector-5 {
  position: relative;
  width: 30.25px;
  height: 20px;
  margin: 1.333px 0 0 1.375px;
  background: url(../assets/images/ca4e67ca-05a7-4c53-b796-680259dce2c6.png) no-repeat center;
  background-size: 100% 100%;
  z-index: 5;
}

.mb_dangNhap_flex-row-caf {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 17.875px;
  height: 2.667px;
  margin: 5.333px 0 0 11px;
  z-index: 4;
}

.mb_dangNhap_vector-6 {
  flex-shrink: 0;
  position: relative;
  width: 2.75px;
  height: 2.667px;
  background: url(../assets/images/eb84d41a-02b7-45d3-b83f-3de50a5ab9b9.png) no-repeat center;
  background-size: 100% 100%;
  z-index: 3;
}

.mb_dangNhap_vector-7 {
  flex-shrink: 0;
  position: relative;
  width: 2.75px;
  height: 2.667px;
  background: url(../assets/images/c3b68632-0def-4731-87ce-2e967408217d.png) no-repeat center;
  background-size: 100% 100%;
  z-index: 4;
}

.mb_dangNhap_rectangle-8 {
  position: absolute;
  width: 143px;
  height: 31px;
  top: 11px;
  left: 1270px;
  background: url(../assets/images/8fd4deb8-3502-44ee-bd7c-06c38edbb82e.png) no-repeat center;
  background-size: cover;
  z-index: 8;
  border-radius: 11px;
}

.mb_dangNhap_log-in-register {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 23px;
  top: 5px;
  left: 20.02px;
  color: #ffffff;
  font-family: Istok Web, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  white-space: nowrap;
  z-index: 9;
}

.mb_dangNhap_shopping-cart-9 {
  position: absolute;
  width: 33px;
  height: 32px;
  top: 15px;
  left: 798px;
  z-index: 23;
  overflow: hidden;
}


.mb_dangNhap_vector-a {
  position: relative;
  width: 33px;
  height: 22.834px;
  margin: 0 0 0 0;
  background: url(../assets/images/16478d54-fe51-49ca-ac88-797a6845828f.png) no-repeat center;
  background-size: 100% 100%;
  z-index: 26;
}

.mb_dangNhap_flex-row-a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 17.875px;
  height: 2.667px;
  margin: 3.833px 0 0 11px;
  z-index: 25;
}

.mb_dangNhap_vector-b {
  flex-shrink: 0;
  position: relative;
  width: 5.75px;
  height: 5.667px;
  background: url(../assets/images/7ad7758a-8b72-4256-b951-4a1bc8b05f5b.png) no-repeat center;
  background-size: 100% 100%;
  z-index: 24;
}

.mb_dangNhap_vector-c {
  flex-shrink: 0;
  position: relative;
  width: 5.75px;
  height: 5.667px;
  background: url(../assets/images/8a6308a9-60d2-4a8b-b078-3ef8f9d39e67.png) no-repeat center;
  background-size: 100% 100%;
  z-index: 25;
}

.mb_dangNhap_san-pham {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 26px;
  top: 16px;
  left: 160px;
  color: #000000;
  font-family: Lexend, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  white-space: nowrap;
  z-index: 11;
}

.mb_dangNhap_dip {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 26px;
  top: 16px;
  left: 328px;
  color: #000000;
  font-family: Lexend, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  white-space: nowrap;
  z-index: 12;
}

.mb_dangNhap_workshop {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 26px;
  top: 16px;
  left: 408px;
  color: #000000;
  font-family: Lexend, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  white-space: nowrap;
  z-index: 13;
}

.mb_dangNhap_ve-chung-toi {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 26px;
  top: 16px;
  left: 560px;
  color: #000000;
  font-family: Lexend, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  white-space: nowrap;
  z-index: 14;
}

.mb_dangNhap_vector-d {
  position: absolute;
  width: 2.62%;
  height: 29.06%;
  top: 67.25%;
  left: 60.12%;
  background: url(../assets/images/24f96d6c-5222-4004-94d5-3f83674a8e23.png) no-repeat center;
  background-size: 100% 100%;
  z-index: 21;
}

.mb_dangNhap_flex-row {
  position: relative;
  width: 982.768px;
  height: 1627px;
  margin: 48px 0 0 0;
  z-index: 80;
}

.mb_dangNhap_image-e {
  position: absolute;
  width: 261px;
  height: 671px;
  top: 0;
  left: 0;
  background: url(../assets/images/1c7005aa840efd11fc2e7f1f6b5be2abcb39ab42.png) no-repeat center;
  background-size: cover;
  z-index: 73;
}

.mb_dangNhap_image-f {
  position: absolute;
  width: 251px;
  height: 671px;
  top: 0;
  left: 261px;
  background: url(../assets/images/99af1b657a416001295a710e2e15ebbce2d23ae3.png) no-repeat center;
  background-size: cover;
  z-index: 74;
}

.mb_dangNhap_image-10 {
  position: absolute;
  width: 205.966px;
  height: 671px;
  top: 0;
  left: 512.447px;
  background: url(../assets/images/f802562866f4d6b17f23db5ec7bada085b625542.png) no-repeat center;
  background-size: cover;
  z-index: 75;
}

.mb_dangNhap_image-11 {
  position: absolute;
  width: 197.949px;
  height: 671px;
  top: 0;
  left: 718.413px;
  background: url(../assets/images/5c1454f29a93eea43acce0005c694f377e7d26b1.png) no-repeat center;
  background-size: cover;
  z-index: 76;
}

.mb_dangNhap_rectangle-12 {
  position: absolute;
  width: 776px;
  height: 1364px;
  top: 122px;
  left: 50%;
  font-size: 0px;
  background: rgba(255, 255, 255, 0.95);
  transform: translate(-54.56%, 0);
  z-index: 80;
}

.mb_dangNhap_dang-nhap {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 497px;
  height: 81px;
  margin: 17px 0 0 140px;
  color: #000000;
  font-family: Lexend, var(--default-font-family);
  font-size: 55px;
  font-weight: 800;
  line-height: 68.75px;
  text-align: center;
  white-space: nowrap;
  z-index: 81;
}

.mb_dangNhap_line {
  position: relative;
  width: 776px;
  height: 1px;
  margin: 16px 0 0 1px;
  background: url(../assets/images/211ba388-63e4-40a1-8448-478f523b0ae8.png) no-repeat center;
  background-size: cover;
  z-index: 82;
}

.mb_dangNhap_so-dien-thoai {
  display: block;
  position: relative;
  height: 38px;
  margin: 88px 0 0 74px;
  color: #000000;
  font-family: Lexend, var(--default-font-family);
  font-size: 30px;
  font-weight: 500;
  line-height: 37.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 92;
}

.mb_dangNhap_rectangle-13 {
  position: relative;
  width: 636px;
  height: 105px;
  margin: 3px 0 0 71px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  z-index: 93;
  overflow: hidden;
}

.mb_dangNhap_nhap-so-dien-thoai {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 38px;
  top: 26px;
  left: 20.234px;
  color: #000000;
  font-family: Lexend, var(--default-font-family);
  font-size: 35px;
  font-weight: 300;
  line-height: 38px;
  text-align: left;
  white-space: nowrap;
  z-index: 93;
}

.mb_dangNhap_password {
  display: block;
  position: relative;
  height: 38px;
  margin: 39px 0 0 74.066px;
  color: #000000;
  font-family: Lexend, var(--default-font-family);
  font-size: 30px;
  font-weight: 500;
  line-height: 37.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 94;
}

.mb_dangNhap_rectangle-14 {
  position: relative;
  width: 636px;
  height: 105px;
  margin: 4px 0 0 70px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  z-index: 96;
}

.mb_dangNhap_enter-password {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 38px;
  top: 26px;
  left: 21.234px;
  color: #000000;
  font-family: Lexend, var(--default-font-family);
  font-size: 35px;
  font-weight: 300;
  line-height: 38px;
  text-align: left;
  white-space: nowrap;
  z-index: 96;
}

.mb_dangNhap_flex-row-cac {
  position: relative;
  width: 651px;
  height: 501px;
  margin: 67px 0 0 70px;
  z-index: 98;
}

.mb_dangNhap_rectangle-15 {
  position: absolute;
  width: 345px;
  height: 105px;
  top: 0;
  left: 50%;
  cursor: pointer;
  background: #000000;
  border: 1px solid rgba(0, 0, 0, 0.5);
  transform: translate(-52.03%, 0);
  z-index: 88;
}

.mb_dangNhap_login {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 312.337px;
  height: 38px;
  top: 33px;
  left: calc(50% - 156.82px);
  color: #fdfdfd;
  font-family: Lexend, var(--default-font-family);
  font-size: 25px;
  font-weight: 500;
  line-height: 31.25px;
  text-align: center;
  white-space: nowrap;
  z-index: 99;
}

.mb_dangNhap_image-16 {
  position: absolute;
  width: 240px;
  height: 413px;
  top: 88px;
  left: 93px;
  background: url(../assets/images/d2ef88184c48bf46e78e08f462c747962570c1a3.png) no-repeat center;
  background-size: cover;
  z-index: 71;
}

.mb_dangNhap_image-17 {
  position: absolute;
  width: 236px;
  height: 413px;
  top: 88px;
  left: 317px;
  background: url(../assets/images/a06f49f5302840b8cf19bd31a8404167cfeab2eb.png) no-repeat center;
  background-size: cover;
  z-index: 68;
}

.mb_dangNhap_or {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  width: 176.781px;
  height: 38px;
  top: 132px;
  left: calc(50% - 95.04px);
  color: #000000;
  font-family: Lexend, var(--default-font-family);
  font-size: 30px;
  font-weight: 500;
  line-height: 37.5px;
  text-align: center;
  white-space: nowrap;
  z-index: 95;
}

.mb_dangNhap_rectangle-18 {
  position: absolute;
  width: 636px;
  height: 116px;
  top: 198px;
  left: 50%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  transform: translate(-51.18%, 0);
  z-index: 86;
}

.mb_dangNhap_ff-a-dc {
  position: absolute;
  width: 75px;
  height: 75px;
  top: 19px;
  left: 55px;
  background: url(../assets/images/c40a28990a666d82074c7af4d9d5315172b0f5c7.png) no-repeat center;
  background-size: cover;
  z-index: 100;
}

.mb_dangNhap_login-with-google {
  position: absolute;
  width: 410.86px;
  height: 38px;
  top: 38px;
  left: 162px;
  font-family: Lexend, var(--default-font-family);
  font-size: 30px;
  font-weight: 300;
  line-height: 37.5px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 97;
}

.mb_dangNhap_login-with-google-19 {
  position: relative;
  color: #000000;
  font-family: Lexend, var(--default-font-family);
  font-size: 30px;
  font-weight: 300;
  line-height: 37.5px;
  text-align: left;
}

.mb_dangNhap_google {
  position: relative;
  color: #000000;
  font-family: Lexend, var(--default-font-family);
  font-size: 30px;
  font-weight: 500;
  line-height: 37.5px;
  text-align: left;
}

.mb_dangNhap_rectangle-1a {
  position: absolute;
  width: 636px;
  height: 116px;
  top: 357px;
  left: 50%;
  cursor: pointer;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.5);
  transform: translate(-51.18%, 0);
  z-index: 87;
}

.mb_dangNhap_image-1b {
  position: relative;
  width: 75px;
  height: 75px;
  margin: 20px 0 0 56px;
  background: url(../assets/images/ebd31cf5679f61b72b8e92aa72625b6cdd30c455.png) no-repeat center;
  background-size: cover;
  z-index: 101;
}

.mb_dangNhap_login-with-facebook {
  position: absolute;
  width: 485px;
  height: 38px;
  top: 396px;
  left: 166px;
  font-family: Lexend, var(--default-font-family);
  font-size: 30px;
  font-weight: 300;
  line-height: 37.5px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 98;
}

.mb_dangNhap_login-with-facebook-1c {
  position: relative;
  color: #000000;
  font-family: Lexend, var(--default-font-family);
  font-size: 30px;
  font-weight: 300;
  line-height: 37.5px;
  text-align: left;
}

.mb_dangNhap_facebook {
  position: relative;
  color: #000000;
  font-family: Lexend, var(--default-font-family);
  font-size: 30px;
  font-weight: 500;
  line-height: 37.5px;
  text-align: left;
}

.mb_dangNhap_line-1d {
  position: relative;
  width: 776px;
  height: 1px;
  margin: 182px 0 0 0;
  background: url(../assets/images/677d81f1-f9b4-446b-8a73-05bf4954d3d2.png) no-repeat center;
  background-size: cover;
  z-index: 83;
}

.mb_dangNhap_flex-row-a-1e {
  position: relative;
  width: 590.79px;
  height: 38px;
  margin: 18px 0 0 126px;
  z-index: 91;
}

.mb_dangNhap_ban-chua-co {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 38px;
  top: 0;
  left: 0;
  color: #000000;
  font-family: Lexend, var(--default-font-family);
  font-size: 30px;
  font-weight: 500;
  line-height: 37.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 90;
}

.mb_dangNhap_dang-ky {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 38px;
  top: 0;
  left: 363px;
  color: #000000;
  font-family: Lexend, var(--default-font-family);
  font-size: 30px;
  font-weight: 800;
  line-height: 37.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 91;
}

.mb_dangNhap_tagline {
  position: absolute;
  width: 903.768px;
  height: 151.078px;
  top: 612px;
  left: 79px;
  background: url(../assets/images/928f7c13-6d04-4aa5-90c5-eff30f16953c.png) no-repeat center;
  background-size: cover;
  z-index: 66;
}

.mb_dangNhap_image-1f {
  position: absolute;
  width: 235px;
  height: 413px;
  top: 812px;
  left: 0;
  background: url(../assets/images/ea19a6cc9afeebe2f69b25997fe21e137b43d17d.png) no-repeat center;
  background-size: cover;
  z-index: 72;
}

.mb_dangNhap_image-20 {
  position: absolute;
  width: 242px;
  height: 413px;
  top: 812px;
  left: 674px;
  background: url(../assets/images/d2ef88184c48bf46e78e08f462c747962570c1a3.png) no-repeat center;
  background-size: cover;
  z-index: 70;
}

.mb_dangNhap_image-21 {
  position: absolute;
  width: 236px;
  height: 402px;
  top: 1225px;
  left: 235px;
  background: url(../assets/images/83042c64accb3d86c18461c0e19485afa5c89b79.png) no-repeat center;
  background-size: cover;
  z-index: 67;
}

.mb_dangNhap_image-22 {
  position: absolute;
  width: 259px;
  height: 402px;
  top: 1225px;
  left: 673px;
  background: url(../assets/images/8cdf3703936e8f4005701c273eb74ba1d77d999f.png) no-repeat center;
  background-size: cover;
  z-index: 69;
}

.mb_dangNhap_image-23 {
  position: absolute;
  width: 230px;
  height: 270px;
  top: 1313px;
  left: 0;
  background: url(../assets/images/1b323aca3596270891f3d7055fea7da6ac479654.png) no-repeat center;
  background-size: cover;
  z-index: 78;
}

.mb_dangNhap_image-24 {
  position: absolute;
  width: 210.899px;
  height: 270px;
  top: 1313px;
  left: 466.298px;
  background: url(../assets/images/1b323aca3596270891f3d7055fea7da6ac479654.png) no-repeat center;
  background-size: cover;
  z-index: 79;
}

.mb_dangNhap_flex-row-cdf {
  position: relative;
  width: 619px;
  height: 20px;
  margin: 80px 0 0 200px;
  z-index: 58;
}

.mb_dangNhap_ve-chung-toi-25 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 0;
  left: 0;
  color: #ffffff;
  font-family: Lexend, var(--default-font-family);
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 31;
}

.mb_dangNhap_ve-chung-toi-26 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 0;
  left: 0;
  color: #ffffff;
  font-family: Lexend, var(--default-font-family);
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 50;
}

.mb_dangNhap_dia-chi-cua-hang {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 0;
  left: 184px;
  color: #ffffff;
  font-family: Lexend, var(--default-font-family);
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 35;
}

.mb_dangNhap_dia-chi-cua-hang-27 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 0;
  left: 184px;
  color: #ffffff;
  font-family: Lexend, var(--default-font-family);
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 54;
}

.mb_dangNhap_mang-xa-hoi {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 0;
  left: 391px;
  color: #ffffff;
  font-family: Lexend, var(--default-font-family);
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 41;
}

.mb_dangNhap_mang-xa-hoi-28 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 0;
  left: 391px;
  color: #ffffff;
  font-family: Lexend, var(--default-font-family);
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 58;
}

.mb_dangNhap_lien-he {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 0;
  left: 547px;
  color: #ffffff;
  font-family: Lexend, var(--default-font-family);
  font-size: 16px;
  font-weight: 800;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 38;
}

.mb_dangNhap_flex-row-b {
  position: relative;
  width: 715px;
  height: 46px;
  margin: 3px 0 0 200px;
  z-index: 62;
}

.mb_dangNhap_hoa-club {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 0;
  left: 418px;
  color: #ffffff;
  font-family: Lexend, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 45;
}

.mb_dangNhap_hoa-club-29 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 0;
  left: 418px;
  color: #ffffff;
  font-family: Lexend, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 62;
}

.mb_dangNhap_instagram {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 1px;
  left: 391px;
  background: url(../assets/images/798525da-edc8-4a3d-bf41-9e7176283b78.png) no-repeat center;
  background-size: cover;
  z-index: 48;
  overflow: hidden;
}

.mb_dangNhap_instagram-2a {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background: url(../assets/images/d15bd0ea-1eef-4534-9b03-1fadd76f686d.png) no-repeat center;
  background-size: cover;
  z-index: 65;
  overflow: hidden;
}

.mb_dangNhap_story-brand {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 15px;
  top: 6px;
  left: 0;
  color: #ffffff;
  font-family: Lexend, var(--default-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 32;
}

.mb_dangNhap_story-brand-2b {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 15px;
  top: 6px;
  left: 0;
  color: #ffffff;
  font-family: Lexend, var(--default-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 51;
}

.mb_dangNhap_email-hoaclub {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 168px;
  height: 30px;
  top: 6px;
  left: 547px;
  color: #ffffff;
  font-family: Lexend, var(--default-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  text-align: left;
  z-index: 37;
}

.mb_dangNhap_address-hanoi {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 142px;
  height: 30px;
  top: 8px;
  left: 184px;
  color: #ffffff;
  font-family: Lexend, var(--default-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  text-align: left;
  text-overflow: initial;
  z-index: 36;
  overflow: hidden;
}

.mb_dangNhap_address-hanoi-2c {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 142px;
  height: 30px;
  top: 8px;
  left: 184px;
  color: #ffffff;
  font-family: Lexend, var(--default-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  text-align: left;
  text-overflow: initial;
  z-index: 55;
  overflow: hidden;
}

.mb_dangNhap_buy-guide {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 15px;
  top: 24px;
  left: 0;
  color: #ffffff;
  font-family: Lexend, var(--default-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 33;
}

.mb_dangNhap_buy-guide-2d {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 15px;
  top: 24px;
  left: 0;
  color: #ffffff;
  font-family: Lexend, var(--default-font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  text-align: left;
  white-space: nowrap;
  z-index: 52;
}

.mb_dangNhap_hoa-club-2e {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 26px;
  left: 418px;
  color: #ffffff;
  font-family: Lexend, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 43;
}

.mb_dangNhap_hoa-club-2f {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 20px;
  top: 26px;
  left: 418px;
  color: #ffffff;
  font-family: Lexend, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 60;
}

.mb_dangNhap_vector-30 {
  position: absolute;
  width: 10px;
  height: 17px;
  top: 27px;
  left: 396px;
  background: url(../assets/images/96b58e68-9ea7-4e97-bb1c-7d055591f4ac.png) no-repeat center;
  background-size: cover;
  z-index: 46;
}

.mb_dangNhap_vector-31 {
  position: absolute;
  width: 10px;
  height: 17px;
  top: 0;
  left: 0;
  background: url(../assets/images/55b3777c-bcdd-44da-b77c-910ef86819d3.png) no-repeat center;
  background-size: cover;
  z-index: 63;
}

.mb_dangNhap_footer {
  position: absolute;
  width: 916px;
  height: 114px;
  top: 1873px;
  left: 2px;
  background: url(../assets/images/65584ccd-617d-476d-9107-ad5ca7ec7950.png) no-repeat center;
  background-size: cover;
  z-index: 27;
}

.mb_dangNhap_footer-32 {
  position: absolute;
  width: 916px;
  height: 114px;
  top: 1873px;
  left: -6px;
  background: url(../assets/images/4c6f8dde-385b-4e27-b002-ce818b54df7b.png) no-repeat center;
  background-size: cover;
  z-index: 28;
}

.mb_dangNhap_footer-33 {
  position: absolute;
  width: 916px;
  height: 114px;
  top: 1873px;
  left: -6px;
  background: url(../assets/images/9e2aa84e-ae3d-4fa7-b58f-200117e46336.png) no-repeat center;
  background-size: cover;
  z-index: 29;
}

.mb_dangNhap_san-pham{
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.mb_dangNhap_san-pham:hover{
  transform: scale(1.2);
}
.mb_dangNhap_dip{
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.mb_dangNhap_dip:hover{
  transform: scale(1.2);
}
.mb_dangNhap_ve-chung-toi{
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.mb_dangNhap_ve-chung-toi:hover{
  transform: scale(1.2);
}
.mb_dangNhap_workshop{
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.mb_dangNhap_workshop:hover{
  transform: scale(1.2);
}
