:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.register__main-container {
  overflow: hidden;
}

.register__main-container,
.register__main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.register__main-container {
  position: relative;
  width: 1440px;
  height: 1973px;
  margin: 0 auto;
  background: #ffffff;
  overflow: hidden;
}

.register__rectangle {
  position: relative;
  width: 1440px;
  height: 91px;
  margin: -2px 0 0 0;
  background: #010000;
  overflow: visible auto;
}

.register__image {
  position: relative;
  width: 168px;
  height: 79px;
  margin: 12px 0 0 671px;
  background: url(../assets/images/131b9752d7a1eaaa7bb93198f63383b6b36aa5f9.png)
    no-repeat center;
  background-size: cover;
  z-index: 1;
}

.register__flex-row-bd {
  position: relative;
  width: 1413px;
  height: 50px;
  margin: 3px 0 0 11px;
  z-index: 40;
}

.register__image-1 {
  position: absolute;
  width: 50px;
  height: 47px;
  top: 0;
  left: 59px;
  background: url(../assets/images/71148d2bbf66b64d5e0ad1bfc1b2523af6f90ce6.png)
    no-repeat center;
  background-size: cover;
  z-index: 18;
}

.register__frame {
  position: absolute;
  width: 51px;
  height: 49px;
  top: 1px;
  left: 0;
  z-index: 40;
  overflow: hidden;
}

.register__vector {
  position: relative;
  width: 41.25px;
  height: 3px;
  margin: 10.75px 0 0 4.875px;
  background: url(../assets/images/5bffe913-4b78-4d45-ad18-574842ddc4d8.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 42;
}

.register__vector-2 {
  position: relative;
  width: 41.25px;
  height: 3px;
  margin: 9.25px 0 0 4.875px;
  background: url(../assets/images/84f66da4-4a5a-4624-819f-68710ab99077.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 41;
}

.register__vector-3 {
  position: relative;
  width: 41.25px;
  height: 3px;
  margin: 9.25px 0 0 4.875px;
  background: url(../assets/images/3d3708f7-6b09-4e71-997f-a07e9468b4ae.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 43;
}

.register__vector-4 {
  position: absolute;
  width: 1.68%;
  height: 43.02%;
  top: 8%;
  left: 86.84%;
  background: url(../assets/images/99f83347-7931-4199-8130-1396502225f8.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 8;
}

.register__shopping-cart {
  position: absolute;
  width: 33px;
  height: 32px;
  top: 10px;
  left: 1174px;
  z-index: 2;
  overflow: hidden;
}

.register__vector-5 {
  position: relative;
  width: 33px;
  height: 22.834px;
  margin: 0 0 0 0;
  background: url(../assets/images/ad65889f-91ce-402f-9c30-93930168f2da.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 5;
}

.register__flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 17.875px;
  height: 2.667px;
  margin: 3.833px 0 0 11px;
  z-index: 4;
}

.register__vector-6 {
  flex-shrink: 0;
  position: relative;
  width: 5.75px;
  height: 5.667px;
  background: url(../assets/images/32512d89-71a1-474e-bc0a-35b105444ebb.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 3;
}

.register__vector-7 {
  flex-shrink: 0;
  position: relative;
  width: 5.75px;
  height: 5.667px;
  background: url(../assets/images/0488a04e-18e9-48e5-80bb-b620672a90f1.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 4;
}

.register__rectangle-8 {
  position: absolute;
  width: 143px;
  height: 31px;
  top: 11px;
  left: 1270px;
  background: url(../assets/images/9d4c49ff-5d55-4d31-8ed1-6eeecab1926e.png)
    no-repeat center;
  background-size: cover;
  z-index: 11;
  border-radius: 11px;
}

.register__log-in-register {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 23px;
  top: 5px;
  left: 20.02px;
  color: #ffffff;
  font-family: Istok Web, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  white-space: nowrap;
  z-index: 12;
}

.register__san-pham {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 26px;
  top: 16px;
  left: 457px;
  color: #000000;
  font-family: Lexend, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  white-space: nowrap;
  z-index: 14;
}

.register__dip {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 26px;
  top: 16px;
  left: 625px;
  color: #000000;
  font-family: Lexend, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  white-space: nowrap;
  z-index: 15;
}

.register__workshop {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 26px;
  top: 16px;
  left: 705px;
  color: #000000;
  font-family: Lexend, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  white-space: nowrap;
  z-index: 16;
}

.register__ve-chung-toi {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 26px;
  top: 16px;
  left: 857px;
  color: #000000;
  font-family: Lexend, var(--default-font-family);
  font-size: 24px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  white-space: nowrap;
  z-index: 17;
}

/* Continue this pattern with the rest of the CSS classes */

.register__rectangle-e {
  position: absolute;
  width: 1111px;
  height: 1364px;
  top: 92px;
  left: 50%;
  font-size: 0px;
  background: rgba(255, 255, 255, 0.95);
  transform: translate(-50.41%, 0);
  z-index: 51;
}

.register__dang-ky {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  width: 711px;
  height: 81px;
  margin: 17px 0 0 201px;
  color: #000000;
  font-family: Lexend, var(--default-font-family);
  font-size: 55px;
  font-weight: 800;
  line-height: 68.75px;
  text-align: center;
  white-space: nowrap;
  z-index: 52;
}

.register__line {
  position: relative;
  width: 1111px;
  height: 1px;
  margin: 16px 0 0 1px;
  background: url(../assets/images/7161eb7b-b470-4186-9ab7-8f966f9b83fa.png)
    no-repeat center;
  background-size: cover;
  z-index: 53;
}

.register__ho-va-ten {
  display: block;
  position: relative;
  height: 38px;
  margin: 38px 0 0 101px;
  color: #000000;
  font-family: Lexend, var(--default-font-family);
  font-size: 30px;
  font-weight: 500;
  line-height: 37.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 66;
}

.register__rectangle-f {
  position: relative;
  width: 911px;
  height: 105px;
  margin: 0 0 0 100px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  z-index: 63;
  overflow: hidden;
  padding: 5px; 
  border-radius: 5px; 
  outline: none; 
}

.register__full-name {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 38px;
  top: 29px;
  left: 25px;
  color: #000000;
  font-family: Lexend, var(--default-font-family);
  font-size: 35px;
  font-weight: 300;
  line-height: 38px;
  text-align: left;
  white-space: nowrap;
  z-index: 63;
}

.register__date-of-birth {
  display: block;
  position: relative;
  height: 38px;
  margin: 20px 0 0 101px;
  color: #000000;
  font-family: Lexend, var(--default-font-family);
  font-size: 30px;
  font-weight: 500;
  line-height: 37.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 65;
}

.register__rectangle-10 {
  position: relative;
  width: 911px;
  height: 105px;
  margin: 0 0 0 100px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  z-index: 71;
  overflow: hidden;
  padding: 5px; 
  border-radius: 5px; 
  outline: none; 
}

.register__date-format {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 38px;
  top: 28px;
  left: 26px;
  color: #000000;
  font-family: Lexend, var(--default-font-family);
  font-size: 35px;
  font-weight: 300;
  line-height: 38px;
  text-align: left;
  white-space: nowrap;
  z-index: 71;
}

.register__email {
  display: block;
  position: relative;
  height: 38px;
  margin: 20px 0 0 100px;
  color: #000000;
  font-family: Lexend, var(--default-font-family);
  font-size: 30px;
  font-weight: 500;
  line-height: 37.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 77;
}

.register__rectangle-11 {
  position: relative;
  width: 911px;
  height: 105px;
  margin: 1px 0 0 101px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  z-index: 78;
  overflow: hidden;
  padding: 5px; 
  border-radius: 5px; 
  outline: none; 
}

.register__input-email {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 38px;
  top: 33px;
  left: 25px;
  color: #000000;
  font-family: Lexend, var(--default-font-family);
  font-size: 35px;
  font-weight: 300;
  line-height: 38px;
  text-align: left;
  white-space: nowrap;
  z-index: 78;
}

.register__phone-number {
  display: block;
  position: relative;
  height: 38px;
  margin: 20px 0 0 100px;
  color: #000000;
  font-family: Lexend, var(--default-font-family);
  font-size: 30px;
  font-weight: 500;
  line-height: 37.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 69;
}

.register__flex-row-12 {
  position: relative;
  width: 912px;
  height: 445px;
  margin: 1px 0 0 100px;
  z-index: 73;
}

.register__rectangle-13 {
  position: absolute;
  width: 911px;
  height: 105px;
  top: 0;
  left: 50%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  transform: translate(-49.95%, 0);
  z-index: 58;
  padding: 5px; 
  border-radius: 5px; 
  outline: none; 
}

.register__input-phone-number {
  position: absolute;
  width: 515px;
  height: 38px;
  top: 35px;
  left: 25px;
  color: #000000;
  font-family: Lexend, var(--default-font-family);
  font-size: 35px;
  font-weight: 300;
  line-height: 38px;
  text-align: left;
  z-index: 70;
  overflow: hidden;
}

.register__password {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 38px;
  top: 125px;
  left: 1px;
  color: #000000;
  font-family: Lexend, var(--default-font-family);
  font-size: 30px;
  font-weight: 500;
  line-height: 37.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 72;
}

.register__rectangle-16 {
  position: absolute;
  width: 911px;
  height: 105px;
  top: 164px;
  left: 50%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  transform: translate(-50.05%, 0);
  z-index: 59;
  overflow: hidden;
  padding: 5px; 
  border-radius: 5px; 
  outline: none; 
}

.register__input-password {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 38px;
  top: 33px;
  left: 26px;
  color: #000000;
  font-family: Lexend, var(--default-font-family);
  font-size: 35px;
  font-weight: 300;
  line-height: 38px;
  text-align: left;
  white-space: nowrap;
  z-index: 74;
}

.register__confirm-password {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 38px;
  top: 292px;
  left: 1px;
  color: #000000;
  font-family: Lexend, var(--default-font-family);
  font-size: 30px;
  font-weight: 500;
  line-height: 37.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 73;
}

.register__rectangle-17 {
  position: absolute;
  width: 911px;
  height: 105px;
  top: 330px;
  left: 50%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  transform: translate(-50.05%, 0);
  z-index: 60;
  overflow: hidden;
  padding: 5px; 
  border-radius: 5px; 
  outline: none; 
}

.register__confirm {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 38px;
  top: 33px;
  left: 26px;
  color: #000000;
  font-family: Lexend, var(--default-font-family);
  font-size: 35px;
  font-weight: 300;
  line-height: 38px;
  text-align: left;
  white-space: nowrap;
  z-index: 76;
}

.register__rectangle-18 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 461px;
  height: 105px;
  margin: 26px 0 0 326px;
  cursor: pointer;
  background: #000000;
  border: 1px solid rgba(0, 0, 0, 0.5);
  z-index: 75;
}

.register__create-account {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  width: 447px;
  height: 38px;
  color: #fdfdfd;
  font-family: Lexend, var(--default-font-family);
  font-size: 30px;
  font-weight: 500;
  line-height: 37.5px;
  text-align: center;
  white-space: nowrap;
  z-index: 75;
}

.register__line-19 {
  position: relative;
  width: 1111px;
  height: 1px;
  margin: 27px 0 0 0;
  background: url(../assets/images/42fd07b0-51d7-47b5-9d0b-6f5e397de1b0.png)
    no-repeat center;
  background-size: cover;
  z-index: 54;
}

.register__flex-row-c {
  position: relative;
  width: 649px;
  height: 38px;
  margin: 21px 0 0 305px;
  z-index: 68;
}

.register__have-account {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 38px;
  top: 0;
  left: 0;
  color: #000000;
  font-family: Lexend, var(--default-font-family);
  font-size: 30px;
  font-weight: 500;
  line-height: 37.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 67;
}

.register__login {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 38px;
  top: 0;
  left: 323px;
  color: #000000;
  font-family: Lexend, var(--default-font-family);
  font-size: 30px;
  font-weight: 800;
  line-height: 37.5px;
  text-align: left;
  white-space: nowrap;
  z-index: 68;
}

.register__tagline {
  position: absolute;
  width: 1083px;
  height: 151.078px;
  top: 623px;
  left: 302px;
  background: url(../assets/images/4b41f7e0-c026-44c3-9c17-9cef47cc3c37.png)
    no-repeat center;
  background-size: cover;
  z-index: 19;
}

.register__image-1a {
  position: absolute;
  width: 375px;
  height: 413px;
  top: 806px;
  left: 25px;
  background: url(../assets/images/ea19a6cc9afeebe2f69b25997fe21e137b43d17d.png)
    no-repeat center;
  background-size: cover;
  z-index: 39;
}

.register__image-1b {
  position: absolute;
  width: 384px;
  height: 413px;
  top: 806px;
  left: 1105px;
  background: url(../assets/images/d2ef88184c48bf46e78e08f462c747962570c1a3.png)
    no-repeat center;
  background-size: cover;
  z-index: 37;
}

.register__image-1c {
  position: absolute;
  width: 381px;
  height: 402px;
  top: 1219px;
  left: 398px;
  background: url(../assets/images/83042c64accb3d86c18461c0e19485afa5c89b79.png)
    no-repeat center;
  background-size: cover;
  z-index: 34;
}

.register__image-1d {
  position: absolute;
  width: 393px;
  height: 402px;
  top: 1219px;
  left: 1105px;
  background: url(../assets/images/8cdf3703936e8f4005701c273eb74ba1d77d999f.png)
    no-repeat center;
  background-size: cover;
  z-index: 36;
}

.register__image-1e {
  position: absolute;
  width: 342px;
  height: 270px;
  top: 1307px;
  left: 55px;
  background: url(../assets/images/1b323aca3596270891f3d7055fea7da6ac479654.png)
    no-repeat center;
  background-size: cover;
  z-index: 49;
}

.register__image-1f {
  position: absolute;
  width: 342px;
  height: 270px;
  top: 1307px;
  left: 769px;
  background: url(../assets/images/1b323aca3596270891f3d7055fea7da6ac479654.png)
    no-repeat center;
  background-size: cover;
  z-index: 50;
}

.register__flex-row-be {
  position: relative;
  width: 1087px;
  height: 30px;
  margin: 71px 0 0 273px;
  z-index: 28;
}

.register__ve-chung-toi-20 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 30px;
  top: 0;
  left: 0;
  color: #ffffff;
  font-family: Lexend, var(--default-font-family);
  font-size: 24px;
  font-weight: 800;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 21;
}

.register__dia-chi-cua-hang {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 30px;
  top: 0;
  left: 281px;
  color: #ffffff;
  font-family: Lexend, var(--default-font-family);
  font-size: 24px;
  font-weight: 800;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 26;
}

.register__mang-xa-hoi {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 30px;
  top: 0;
  left: 579px;
  color: #ffffff;
  font-family: Lexend, var(--default-font-family);
  font-size: 24px;
  font-weight: 800;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 27;
}

.register__lien-he {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 30px;
  top: 0;
  left: 833px;
  color: #ffffff;
  font-family: Lexend, var(--default-font-family);
  font-size: 24px;
  font-weight: 800;
  line-height: 30px;
  text-align: left;
  white-space: nowrap;
  z-index: 28;
}

.register__flex-row-eb {
  position: relative;
  width: 1122px;
  height: 36px;
  margin: 7px 0 0 273px;
  z-index: 30;
}

.register__hoa-club {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 0;
  left: 646px;
  color: #ffffff;
  font-family: Lexend, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 30;
}

.register__cau-chuyen-thuong-hieu {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 200px;
  height: 30px;
  top: 4px;
  left: 0;
  color: #ffffff;
  font-family: Lexend, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 22;
}

.register__so-nguyen-hy-quang {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 200px;
  height: 30px;
  top: 5px;
  left: 281px;
  color: #ffffff;
  font-family: Lexend, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 24;
}

.register__email-hoaclub-tiepthi-gmail-com {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 289px;
  height: 30px;
  top: 6px;
  left: 833px;
  color: #ffffff;
  font-family: Lexend, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 25;
}

.register__flex-row-f-21 {
  position: relative;
  width: 734px;
  height: 31px;
  margin: -9px 0 0 273px;
  z-index: 33;
}

.register__vector-22 {
  position: absolute;
  width: 1.77%;
  height: 67.18%;
  top: -3.23%;
  left: 84.47%;
  background: url(../assets/images/fd56e37e-8d0e-4425-a38c-6f80db197d26.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 33;
}

.register__huong-dan-mua-hang {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 200px;
  height: 30px;
  top: 1px;
  left: 0;
  color: #ffffff;
  font-family: Lexend, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 23;
}

.register__hoa-club-23 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  top: 2px;
  left: 646px;
  color: #ffffff;
  font-family: Lexend, var(--default-font-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  white-space: nowrap;
  z-index: 32;
}

.register__footer {
  position: absolute;
  width: 1440px;
  height: 151px;
  top: 1822px;
  left: 0;
  background: url(../assets/images/50d15aaa-9843-4afb-a5fb-57b4e311544f.png)
    no-repeat center;
  background-size: cover;
  z-index: 20;
}
